/**
 * Declaration order
 * 1.Positioning
 * 2.Box model
 * 3.Typographic
 * 4.Visual
 */
html {
    font-size: 62.5%;
}
h1,
h2,
h3 {
    font-weight: 700;
    font-family: SimHei, "WenQuanYi Zen Hei";
    color: #4285f4;
}
ol {
    padding: 0;
    list-style: none;
}
.container {
    min-width: 320px;
}
.search {
    padding-top: 20%;
}
.school {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-left: 9px;
    line-height: 27px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.search h1 {
    font-size: 38px;
    font-size: 3.8rem;
    letter-spacing: .2em;
    text-shadow: 2px 2px 4px grey;
}
.fast {
    position: absolute;
    top: 8px;
    right: -26px;
    z-index: 100;
    display: block;
    width: 100px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    background-color: rgba(125,183,1,.8);

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.search .input-group {
    margin-top: 15%;
}
.input-title,
.btn-search {
    height: 40px;
    font-size: 18px;
    font-size: 1.8rem;
    border: 1px solid #4285f4;
}
.btn-search,
.btn-search:hover,
.btn-search:focus,
.btn-search:active {
    width: 76px;
    color: #fff;
    background-color: #4285f4;
}
.loading {
    height: 20px;
    font-size: 10px;
    font-size: 1rem;
}
.loading span {
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: #fff;

    -webkit-animation: stretch 1.2s ease-in-out infinite;
            animation: stretch 1.2s ease-in-out infinite;
}
.loading .rect-2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
}
.loading .rect-3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
}
.loading .rect-4 {
    -webkit-animation-delay: -.9s;
            animation-delay: -.9s;
}
.loading .rect-5 {
    -webkit-animation-delay: -.8s;
            animation-delay: -.8s;
}
@-webkit-keyframes stretch {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
    }
}
@keyframes stretch {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);  /* for Opera */
                transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
                transform: scaleY(1.0);
    }
}
footer {
    margin-top: 30%;
}
footer p {
    margin: 0;
    color: #888;
    text-align: center;
}
.copyright {
    color: #888;
}
.result header {
    background-color: #eee;
}
header {
    position: relative;
}
.h2-header,
.form-header {
    margin: 5px 0;
    padding: 0 5px;
}
.focus {
    position: absolute;
    right: 0;
    width: 100%;

    -webkit-transition: width .15s;
            transition: width .15s;
}
.h2-header {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 34px;
    letter-spacing: .1em;
    text-shadow: 1px 1px 0 #eee, 2px 2px 0 #4285f4;
}
.input-header {
    padding-left: 6px;
    font-size: 16px;
    font-size: 1.6rem;
    border-radius: 0;
}
.btn-header,
.btn-header:hover,
.btn-header:focus,
.btn-header:active {
    z-index: 2;
    color: #4285f4;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
}
.btn-header span:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 10px;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;  /*seems all browsers support this*/
}
.btn-header span:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 18px;
    width: 8px;
    height: 0;
    border-top: 2px solid #fff;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.books {
    position: relative;
}
.books ol li {
    padding: 5px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.books ol li:after{
    content: '';
    display: block;
    clear: both;
}
.books ol li article {
    padding: 0;
}
.title {
    margin: 0;
    font-size: 15px;
    font-size: 1.5rem;
    color: #73A6F7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author,
.publisher,
.callno,
.doctype {
    margin: 0;
    font-size: 13px;
    font-size: 1.3rem;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.books ol li aside {
    margin: 8px 0;
    padding: 0;
    border-left: 1px solid #eee;
}
aside p {
    text-align: right;
}
.books .loading {
    margin: 0 auto;
    width: 25px;
}
.books .loading span {
    background-color: #73A6F7;
}
.nomore {
    font-weight: 700;
    color: #73A6F7;
    text-align: center;
}
.notfound {
    margin-top: 20%;
    font-weight: 700;
    color: #73A6F7;
    text-align: center;
}
.overlay {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .6;
}
.overlay .loading {
    margin: 25% auto;
    width: 42px;
    height: 42px;
}
.overlay .loading span {
    width: 6px;
    background-color: #4285f4;
}


@media (min-width: 480px) and (max-width: 767px) {
    .search .input-group {
        margin-left: 10%;
        margin-right: 10%;
    }
    .books ol li {
        float: left;
        width: 50%;
    }
}

@media (min-width: 600px) {
    .search h1 {
        font-size: 50px;
        font-size: 5rem;
    }
}

@media (min-width: 768px) {
    .books ol li {
        float: left;
        width: 33.3%;
    }
}

@media (min-width: 992px) {
    .search {
        padding-top: 15%;
    }
    .search .input-group {
        margin-top: 10%;
    }
    footer {
        margin-top: 25%;
    }
}

@media (min-width: 1200px) {
    .search {
        padding-top: 10%;
    }
    .search .input-group {
        margin-top: 5%;
    }
    footer {
        margin-top: 20%;
    }
}

@media (-webkit-device-pixel-ratio: 1) {
    .h2-header {
        font-size: 20px;
        font-size: 2rem;
    }
}